.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.quiz-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-item {
  border: 2px solid #00ffea;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 255, 234, 0.2);
  border-radius: 15px;
  background-color: #1a1a2e;
  color: #e94560;
  font-family: "CustomFont", sans-serif;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 80%;
  /*rtl*/
  direction: rtl;
}

.quiz-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 255, 234, 0.3);
}

button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.activate-button {
  background-color: #e94560;
  padding: 0;
}

.edit-button {
  background-color: #00ffea;
}

.delete-button {
  background-color: #e94560;
  padding: 0;
}

button:hover {
  background-color: #ffffff;
}

.buttons {
  display: flex;
  gap: 10px;
}

.Title {
  color: #00ffea;
  text-align: center;
  margin-bottom: 20px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
