/* I kept the sidebar code so it can be restored if needed. */
/* .sidebar {
    width: 5vw;
    height: 80vh;
} */

.content {
    width: 100vw;
    height: 100vh;
}

.footer {
    background-color: #1a1a2e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-family: 'CustomFont', sans-serif;
    height: 20px;    
}